/examples/lesson03/fig03_05/BigNumber/cmake-build-debug/
/cmake-build-debug
#/examples/lesson03/fig03_05/BigNumber/cmake-build-debug/
/.idea
/examples/lesson03/fig03_05/.idea
/examples/lesson06/cmake-build-debug/
/examples/lesson13/cmake-build-debug/
